<p id="notice"><%= notice %></p>

<p>
  <strong>Reserve state:</strong>
  <%= @reserve_state.reserve_state %>
</p>

<%= link_to 'Edit', edit_reserve_state_path(@reserve_state) %> |
<%= link_to 'Back', reserve_states_path %>
